.generatePasswordInputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.generatePasswordInputGroup input {
  position: relative;
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  width: 1%;
  min-width: 0;
}

.inputGroupText {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border: 2px solid var(--primary-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
  margin-left: -2px;
}

.copyGeneratedPasswordToClipboard {
  margin-left: 2px;
  margin-right: 21px;
}

.copyGeneratedPasswordToClipboard:hover {
  cursor: pointer;
}

.generateRandomPasswordButton {
  padding: 11px 21px 10px;
  border-left: 2px solid var(--primary-bg-color);
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: var(--primary-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--on-primary-bg-main-color);
}

.generateRandomPasswordButton:hover {
  cursor: pointer;
}

.generateRandomPasswordButton i,
.copyGeneratedPasswordToClipboard i {
  vertical-align: super;
}

.generateRandomPasswordButton i::before,
.copyGeneratedPasswordToClipboard i::before {
  vertical-align: middle;
}

.optionsToGeneratePassword {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.passwordLength {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.passwordLength p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.passwordLength input {
  width: 80%;
}

.optionGeneratePassword {
  padding-right: 64px;
}

.optionGeneratePassword:last-of-type {
  padding-right: 0;
}
