/* Mobile */
.generatePasswordGlobalContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.generatePasswordGlobalContainer form {
  width: 100%;
}

.generatePasswordInputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.generatePasswordInputGroup input {
  position: relative!important;
  flex: 1 1 auto!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-right: 0!important;
  width: 1%!important;
  min-width: 0!important;
}

.inputGroupText {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border: 2px solid var(--primary-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
  margin-left: -2px;
}

.copyGeneratedPasswordToClipboard {
  margin-left: 2px;
  margin-right: 21px;
}

.copyGeneratedPasswordToClipboard:hover {
  cursor: pointer;
}

.generateRandomPasswordButton {
  padding: 11px 21px 10px;
  border-left: 2px solid var(--primary-bg-color);
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: var(--primary-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--on-primary-bg-main-color);
}

.generateRandomPasswordButton:hover {
  cursor: pointer;
}

.generateRandomPasswordButton i,
.copyGeneratedPasswordToClipboard i {
  vertical-align: super;
}

.generateRandomPasswordButton i::before,
.copyGeneratedPasswordToClipboard i::before {
  vertical-align: middle;
}

.generatePasswordLengthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 22px;
  row-gap: 12px;
}

.generatePasswordLengthInputText {
  font-size: 17px!important;
  font-weight: 300!important;
  border: 0!important;
  border-bottom: 2px solid!important;
  border-radius: 0!important;
  padding: 1px 0!important;
  width: 55px!important;
}

.generatePasswordLengthInputRange {
  -webkit-appearance: none;
  width: 55%;
  max-width: 480px;
  height: 8px;
  border-radius: 8px;
  background: var(--tertiary-bg-color);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 10px;
}

.generatePasswordLengthInputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--primary-bg-color);
  cursor: pointer;
}

.generatePasswordLengthInputRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #4CAF50;
  cursor: pointer;
}

.optionsToGeneratePassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  row-gap: 12px;
}

.optionGeneratePassword {
  padding-right: 64px;
}

.optionGeneratePassword:last-of-type {
  padding-right: 0;
}

/* Laptop / Desktop */
@media (min-width: 1000px) {

.generatePasswordLengthContainer {
  flex-direction: row;
}

.optionsToGeneratePassword {
  flex-direction: row;
  width: inherit;
  margin-left: inherit;
  margin-right: inherit;
}

}